* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #04202e;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#toggle {
    position: relative;
    width: 50px;
    height: 50px;
    background: #37a6ff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

#toggle::before{
    content: '';
    position: absolute;
    width: 28px;
    height: 2px;
    background: #fff;
    transition: 0.2s;
    transform: translateY(-10px);
    box-shadow:  0 10px 0 #fff;
}
#toggle::after{
    content: '';
    position: absolute;
    width: 28px;
    height: 2px;
    background: #fff;
    transition: 0.2s;
    transform: translateY(10px);
}